*{
    padding:0px;
    margin: 0px;
    font-family: Verdana,Arial, sans-serif;
    text-decoration: none;
   
}
body{
    border: 8px solid black;
}
#nav{
    height: 80px;
    background-color: rgb(255, 254, 254);
    inline-size: none;
    margin-bottom: 50px;
    
}
img{
    height: 78px;
    border: 0.800px;
    margin-right: 180px;
    
}
input{
    width: 260px;
    height: 22px;
    color: rgb(255, 255, 255);
    background-color: gray;
    padding: 1px 2px;
    border-radius: 2px;
}

select{
    background-color: gray;
    color: white;
    width: 88px;
    height: 18px;
    border-radius: 2px;
    
}

button{
    color: white;
    background-color: gray;
    width: 108px;
    height: 22px;
    border-radius: 2px;
    
}

hr{
    width: 1600px;
}

#hero{
    color: black;
    text-align: center;
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}

a{
    font-family: Verdana,Arial, sans-serif;
    font-size: 16px;
    color: #0000ee;
}
/* result one content */
#resultOne{
    line-height: 20px;
}
#preOne{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}

/* result Two content */
#resultTwo{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
}
#preTwo{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}

/* Result Three */
#resultThree{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
}
#preThree{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}
/* Result Four */
#resultFour{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
}
#preFour{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}

/* Result Five */

#resultFive{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
}
#preFive{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}


/* Result Six */
#resultSix{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
    font-size: 16px;
}

#pSix{
    font-size: 13px;
}

/* Result Seven */

#resultSeven{
    line-height: 20px;
    margin: 16px 40px 16px 40px;
}
#preSeven{
    font-family: Verdana,Arial, sans-serif;
    font-size: 13px;
}
#pOne{
    font-size: 13px;
    color: #008000;
}
#pTwo{
    font-size: 13px;

}

#Futimg{
    text-align: center;
    margin-left: 170px;

}

#pageresult{
    text-align: center;
    font-size: 10px;
}

#no{
    font-size: 10px;
}

#next-page{
    font-size: 10px;
    color: #008000;
}

#Result{
    font-size: 13px;
    color: black;
}

#fut-search{
    text-align: center;
    margin-top:20px ;
    padding: 1px 2px;
    border-radius: 2px;
}

#within{
    font-size: 10px;
   
}

#hrtwo{
    margin-bottom: 10PX;
    margin-top: 10px;
}

#footer{
    text-align: center;
}
#one{
    font-size: 13px;
    color: black;
}

#two{
    font-size: 13px;
}

#copyright{
    text-align: center;
    margin: 20px,0px,20px,0;
}

#Copy-one{
    font-size: 13px;
    color: black;
}

#Copy-Two{
    font-size: 13px;
    
}

#copyright-{
    text-align: center;
    margin: 20px,0px,20px,0
}



























